#timetables {
    float: left;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;  
}

#timetable-nav {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    -ms-flex-direction: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

#timetable-nav .button-group button, 
#timetable-nav .button-group button:hover, 
#timetable-nav .button-group button:focus  {
    margin-right: 6px;
    outline: 1;
}

#timetable-nav #days, 
#timetable-nav #direction {
    margin-right: 10px;
}

#timetable-nav #days h3, 
#timetable-nav #direction h3 {
    font-size: medium;
    margin-bottom: 0;
    text-transform: uppercase;
} 

.timetable {
    margin: 2em 0 4em 0;
    text-align: left;
}

.timetable thead {
    background: #dedede;
    margin-bottom: 20px;
}

.timetable th.stop-header,
.timetable th.run-header {
    font-size: small;
    text-transform: uppercase;
}

.timetable tbody {
    margin-top: 15px;
}

.timetable th, .timetable td {
    padding: .7em;
}

.timetable tr:nth-of-type(even) {
    background: #efefef;
}

.timetable-bottom {
    /* background: #f9f9f9; */
    border-top: 1px solid #ededed;
    background: transparent;
    padding: .7em .5em 1em 1.5em;
    font-style: italic;
    font-size: small;
}
.timetable-panel {
    display: none;
}

.timetable-panel[aria-expanded="true"] {
    display: block;
}